@{
    ViewData["Title"] = "Driver Quiz";
}

@model INTEX.Models.QuizDriverData

<h1>Driver Quiz!</h1>

<form method="post" asp-controller='Quiz' asp-action="Result">

    <div><label>City:</label><input asp-for="city_AMERICAN_FORK" value="0" /></div>
    <div><label>City:</label><input asp-for="city_BLUFFDALE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_CLEARFIELD" value="0" /></div>
    <div><label>City:</label><input asp-for="city_CLINTON" value="0" /></div>
    <div><label>City:</label><input asp-for="city_COTTONWOOD_HEIGHTS" value="0" /></div>
    <div><label>City:</label><input asp-for="city_EAGLE_MOUNTAIN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_FARMINGTON" value="0" /></div>
    <div><label>City:</label><input asp-for="city_HARRISVILLE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_HEBER_CITY" value="0" /></div>
    <div><label>City:</label><input asp-for="city_HIGHLAND" value="0" /></div>
    <div><label>City:</label><input asp-for="city_HURRICANE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_LAYTON" value="0" /></div>
    <div><label>City:</label><input asp-for="city_LOGAN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_MOAB" value="0" /></div>
    <div><label>City:</label><input asp-for="city_OGDEN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_OREM" value="0" /></div>
    <div><label>City:</label><input asp-for="city_OUTSIDE_CITY_LIMITS" value="0" /></div>
    <div><label>City:</label><input asp-for="city_PARK_CITY" value="0" /></div>
    <div><label>City:</label><input asp-for="city_PLEASANT_GROVE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_PLEASANT_VIEW" value="0" /></div>
    <div><label>City:</label><input asp-for="city_PRICE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_PROVO" value="0" /></div>
    <div><label>City:</label><input asp-for="city_RIVERDALE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_RIVERTON" value="0" /></div>
    <div><label>City:</label><input asp-for="city_ROOSEVELT" value="0" /></div>
    <div><label>City:</label><input asp-for="city_ROY" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SALT_LAKE_CITY" value="1" /></div>
    <div><label>City:</label><input asp-for="city_SANDY" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SANTAQUIN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SARATOGA_SPRINGS" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SMITHFIELD" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SOUTH_OGDEN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SOUTH_SALT_LAKE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SPANISH_FORK" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SPRINGVILLE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SUNSET" value="0" /></div>
    <div><label>City:</label><input asp-for="city_SYRACUSE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_TAYLORSVILLE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_TOOELE" value="0" /></div>
    <div><label>City:</label><input asp-for="city_TREMONTON" value="0" /></div>
    <div><label>City:</label><input asp-for="city_WEST_HAVEN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_WEST_JORDAN" value="0" /></div>
    <div><label>City:</label><input asp-for="city_WEST_VALLEY_CITY" value="0" /></div>
    <div><label>City:</label><input asp-for="city_WILLARD" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_BOX_ELDER" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_EMERY" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_GARFIELD" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_MILLARD" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_SUMMIT" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_TOOELE" value="0" /></div>
    <div><label>City:</label><input asp-for="county_name_UTAH" value="1" /></div>
    <div><label>City:</label><input asp-for="county_name_WASATCH" value="0" /></div>
    <div><label>City:</label><input asp-for="work_zone_related_True" value="0" /></div>
    <div><label>City:</label><input asp-for="pedestrian_involved_True" value="1" /></div>
    <div><label>City:</label><input asp-for="bicyclist_involved_True" value="0" /></div>
    <div><label>City:</label><input asp-for="motorcycle_involved_True" value="0" /></div>
    <div><label>City:</label><input asp-for="improper_restraint_True" value="0" /></div>
    <div><label>City:</label><input asp-for="unrestrained_True" value="0" /></div>
    <div><label>City:</label><input asp-for="dui_True" value="0" /></div>
    <div><label>City:</label><input asp-for="intersection_related_True" value="0" /></div>
    <div><label>City:</label><input asp-for="wild_animal_related_True" value="0" /></div>
    <div><label>City:</label><input asp-for="overturn_rollover_True" value="0" /></div>
    <div><label>City:</label><input asp-for="commercial_motor_veh_involved_True" value="0" /></div>
    <div><label>City:</label><input asp-for="teenage_driver_involved_True" value="0" /></div>
    <div><label>Old People:</label><input asp-for="older_driver_involved_True" value="0" /></div>
    <div><label>City:</label><input asp-for="single_vehicle_True" value="0" /></div>
    <div><label>Distracted:</label><input asp-for="distracted_driving_True" value="0" /></div>
    <div><label>Drowsy:</label><input asp-for="drowsy_driving_True" value="0" /></div>
    <div><label>Road Departure:</label><input asp-for="roadway_departure_True" value="0" /></div>
    <div><label>City:</label><input asp-for="Const" value="1" /></div>

    <button type="submit">What's your Category?</button>

</form>