@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="container my-4">
    <h1>@ViewData["Title"]</h1>

    <p>
        Please check your email to confirm your account.
    </p>
</div>