@page
@model INTEX.Areas.Identity.Pages.Admin.RolesModel

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Areas/Identity/Pages/Admin/_AdminLayout.cshtml";
}


<div class="container">
    <h2>@ViewData["Title"]</h2>

    <a class="btn btn-primary" asp-page="CreateRole">Create Role</a>

    @if (Model.Roles.Any())
    {
        @foreach (var role in Model.Roles)
        {
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title m-1 p-1">@role.Id</h3>
                </div>
                <div class="card-body">
                    <h5 class="mb-3">@role.Name</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-light border" asp-page="EditRole" asp-route-id="@role.Id">Edit</a>
                    <a class="btn btn-danger border">Delete</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title m-1 p-1">You currently have no roles</h3>
            </div>
            <div class="card-body">
                <h5 class="mb-3">Click the button below to create a new role</h5>
                <a class="btn btn-primary" asp-page="CreateRole">Create Role</a>
            </div>
        </div>
    }

</div>