@{
    ViewData["Title"] = "Home";
}
@using Newtonsoft.Json

<script type="text/javascript"
        src="https://app.termly.io/embed.min.js"
        data-auto-block="on"
        data-website-uuid="bd768242-0caf-4596-be95-3d56795fa394"></script>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-bold">Utah Crash and Accident Prevention</h1>
                <p class="lead">Seeking to improve road safety throughout Utah</p>
            </div>
        </div>
    </div>
</header>

<div class="container bg-white p-3">
    <div class="row">
        <div class="col-6 offset-3">
            <br />
            <br />
            <p>The Utah Crash and Accident Prevention System is built with the intention to change behavior. Ideally, we aim to cater to drivers and city planners so they can make informed decisions to decrease the number of accidents in Utah. Drivers can observe which routes are safer, find information about accidents, and be scored on their driving risk. Policy makers or city planners can find trends in data revealing which roads and intersections are problematic. We encourage you to look around the site, and to do anything you can to increase safety on our roads.</p>
            <p>Featured on this website is an organized collection of car accidents in Utah from 2016-2019. Details of the crash and a Google Street view of the area of the incident are included. </p>
            <p><small>To learn more about the Utah Department of Transportation and their efforts visit <a href="https://www.udot.utah.gov/connect/">UDOT's website</a>.</small></p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <a href="https://highwaysafety.utah.gov/"><img src="~/img/header-dps-logo.png" class="w-50" /></a>
                </div>
                <div class="col">
                    <a href="https://www.ntsb.gov/Pages/home.aspx"><img src="~/img/ntsb_seal.svg" class="w-50" /></a>
</div>
                <div class="col">
                    <a href="https://www.udot.utah.gov/connect/"><img src="~/img/udot.png" class="w-50" /></a>
</div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<br />
<br />

<header class="bodyhead bg-dark">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-bold">0 Fatalities</h1>
                <p class="lead">The only acceptable metric</p>
            </div>
        </div>
    </div>
</header>
<div class="container bg-dark">
    <div class="text-white">
        <p>A crash occurs in Utah every 8 minutes, a person is injured in a crash every 20 minutes, and a person dies in a crash every 33 hours.</p>
        <br />
        <h6 class="font-weight-bold">Ways to prevent crashes:</h6>
        <br />
        <p>Always wear a seatbelt when traveling in any type of vehivle</p>
        <p>Use car seats with age appropriate children and know how to correctly install the car seat</p>
        <img src="~/img/screenDark.png" width="300" />
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="~/css/masthead.css" />
