@{
    ViewData["Title"] = "Home";
}
@using Newtonsoft.Json

<script type="text/javascript"
        src="https://app.termly.io/embed.min.js"
        data-auto-block="on"
        data-website-uuid="bd768242-0caf-4596-be95-3d56795fa394"></script>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-bold">Utah Crash and Accident Prevention</h1>
                <p class="lead">Seeking to improve road safety throughout Utah</p>
            </div>
        </div>
    </div>
</header>

<div class="container bg-white p-3">
    <div class="row">
        <div class="card col-6 shadow-sm" style="max-height: 380px">
            <div class="m-2">
                <h1>Crashes By Severity</h1>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis felis dui. Morbi viverra eu ligula vitae vestibulum. Cras sagittis rhoncus justo et suscipit. Morbi posuere, purus molestie posuere tincidunt, diam mi convallis quam, ac malesuada nibh lectus a dolor. Duis maximus pellentesque consequat. Curabitur consequat feugiat metus, eu mollis urna imperdiet feugiat. Cras et purus convallis, tincidunt justo sit amet, rhoncus erat. Ut neque dolor, vestibulum eu quam non, tincidunt condimentum elit. Donec commodo eleifend nibh efficitur suscipit. Donec porta, nisi sit amet molestie vestibulum, odio odio dapibus ligula, ullamcorper tincidunt velit dui eget orci. Vestibulum vestibulum odio quam, vitae consectetur augue volutpat non.</p>
            <p>Quisque placerat iaculis congue. Mauris aliquet pulvinar fermentum. Quisque ac commodo elit. Cras vitae dui id eros malesuada lobortis. Cras vestibulum, lacus id luctus aliquam, dolor diam dapibus odio, ut ultricies lacus augue ac ipsum. Nam ultrices libero at purus convallis tempus. Suspendisse tempor turpis eget viverra euismod. Curabitur faucibus mattis gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vitae ullamcorper mi. Donec id vulputate lacus, eget venenatis urna. Integer eget commodo odio.</p>
            <p>Nam augue risus, pharetra et justo quis, imperdiet malesuada nibh. Phasellus id suscipit quam, a faucibus orci. Nulla facilisi. Curabitur molestie neque id feugiat egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam volutpat congue tempor. Phasellus maximus nec ligula eget lobortis. Proin eu consectetur ante, vehicula pretium urna. Donec vitae velit vel magna scelerisque condimentum. Proin scelerisque nisi vitae dolor commodo aliquet.</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>const labels  = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.severityLabel));

    const data = {
        labels: labels,
        datasets: [{
            label: 'Crash Per Fatality Group',
            backgroundColor: ['rgb(0, 128, 1)', 'rgb(172, 255, 45)', 'rgb(254, 255, 0)', 'rgb(254, 165, 0)', 'rgb(255, 2, 0)'],
            borderColor: ['rgb(0, 128, 1)', 'rgb(172, 255, 45)', 'rgb(254, 255, 0)', 'rgb(254, 165, 0)', 'rgb(255, 2, 0)'],
            data:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.severityData)),
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    };
</script>
<script>const myChart = new Chart(
        document.getElementById('myChart'),
        config
);
</script>
<style>
    .masthead {
        height: 30vh;
        min-height: 450px;
        background-image: url('/img/roads.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }
</style>
