@{
    ViewData["Title"] = "Home";
}

<script type="text/javascript"
        src="https://app.termly.io/embed.min.js"
        data-auto-block="on"
        data-website-uuid="bd768242-0caf-4596-be95-3d56795fa394"></script>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-bold">Utah Crash and Accident Prevention</h1>
                <p class="lead">Seeking to improve road safety throughout Utah</p>
            </div>
        </div>
    </div>
</header>

<style>
    .masthead {
        height: 30vh;
        min-height: 450px;
        background-image: url('/img/roads.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }
</style>
