.color-1 {
    background-color: green
}

.color-2 {
    background-color: greenyellow
}

.color-3 {
    background-color: yellow
}

.color-4 {
    background-color: orange
}

.color-5 {
    background-color: red
}